### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

*.class

*.jar
*.war
*.ear

.gradle/
gradle/
build/
out/
target/

.externalToolBuilders/

*.iml
*.ipr
*.iws
.idea/
src/main/resources/application.yml
